# Basic introduction to python for CS students

## Variables

### General variables

In [6]:
n = 3
x = 2.5 + 0.1
z = 1 + 2j
s = "some text bla bla bla"
b = True and False

In [7]:
print(n, type(n))
print(x, type(x))
print(z, type(z))
print(s, type(s))
print(b, type(b))

3 <class 'int'>
2.6 <class 'float'>
(1+2j) <class 'complex'>
some text bla bla bla <class 'str'>
False <class 'bool'>

In [8]:
print(n+x, type(n+x))

5.6 <class 'float'>

In [9]:
print(s+n)

TypeError: can only concatenate str (not "int") to str

In [10]:
print(s + str(n))

some text bla bla bla3

### Strings

In [11]:
txt1 = "I'm a text, and I can use single quotes."
print(txt1)

txt2 = "Double quotes, i.e. \", must be escaped."
print(txt2)

txt3 = 'I\'m also a text! Here\'s a quote: "bla bla bla".'
print(txt3)

I'm a text, and I can use single quotes.
Double quotes, i.e. ", must be escaped.
I'm also a text! Here's a quote: "bla bla bla".

In [14]:
mltxt1 = """I'm a string with several lines.
It's easy to use me :)
Have a nice day!"""
print(mltxt1)

I'm a string with several lines.
It's easy to use me :)
Have a nice day!

In [15]:
mltxt2 = '''I'm a another multi-line string.
I can use single quotes because I only exist between two pairs of three
consequtive quotes.'''
print(mltxt2)

I'm a another multi-line string.
I can use single quotes because I only exist between two pairs of three
consequtive quotes.

In [16]:
a = 'foo'
b = 3
print('my var is a=', a, 'and also b=', b, '.')
# print('my var is a=' + a + 'and also b=' + b + '.')
# print('my var is a=' + a + ' and also b=' + str(b) + '.')
# print(f'my var is {a}, and also b={b}.')
# print(f"""Multiline strings can also be formatted.
# Here for example a = '{a}' and b = {b}.
# Hooray!
# """)

my var is a= foo and also b= 3 .